<div class="d-flex flex-column align-items-center">

<h1>Editing pilot profile</h1>

<%= render "form", pilot_profile: @pilot_profile %>

    <%= link_to "Show Profile", @pilot_profile, class: "btn btn-primary me-4 mt-3 btn-sm" %>
  </div>

</div>