<h1>Editing flight plan</h1>

<%= render "form", flight_plan: @flight_plan %>

<br>

<div>
  <%= link_to "Show this flight plan", @flight_plan %> |
  <%= link_to "Back to flight plans", flight_plans_path %>
</div>
