<div id="<%= dom_id forum_post %>">
  <p>
    <strong>Post topic:</strong>
    <%= forum_post.post_topic %>
  </p>

  <p>
    <strong>Post text:</strong>
    <%= forum_post.post_text %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= forum_post.comments %>
  </p>

</div>
