<div class="d-flex flex-column align-items-center">

<h1>Editing forum post</h1>
<%= render "form", forum_post: @forum_post %>

  <%= link_to "Show this forum post", @forum_post, class: "btn btn-warning btn-sm mb-2 mt-2" %>
  <%= link_to "Back to forum posts", forum_posts_path, class: "btn btn-success btn-sm" %>

  </div>
